.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    var(--bgcBodyBottom) 0%,
    var(--bgcBodyTop) 100%
  );
  z-index: 100;
  display: flex;
  flex-direction: column;
  font-family: audiowide;
}
.active-component {
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px;
}

.close-btn {
  background: transparent;
  font-size: 40px;
  align-self: flex-end;
  padding: 20px;
  color: black;
}

.detail {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  color: black;
}

.detail::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--bgcBodyBottom);
  z-index: -100;
  transition: left 0.7s ease-in;
}

.active-detail {
  background-color: var(--bgcBodyBottom);
}

.detail button {
  width: 100vw;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin: 10px 0;
  text-transform: uppercase;
  padding: 10px 0;
}

.text {
  margin-left: 20px;
}

.detail:hover::after {
  left: 0;
}

.icon {
  margin-right: 20px;
  color: black;
}

@media (max-width: 280px) {
  .active-component {
    padding: 5px;
    font-size: 16px;
  }
}
