.ball {
  border-radius: 50%;
  width: clamp(25px, 6vw, 50px);
  height: clamp(25px, 6vw, 50px);
  margin: 0px 7px;
  align-self: center;
  justify-self: center;
}

/* .red {
  background: radial-gradient(circle at 30% 30%, #e61919, #000000);
} */

/* .blue {
  background: radial-gradient(circle at 30% 30%, #2e37d8, #000000);
} */

/* .green {
  background: radial-gradient(circle at 30% 30%, #0ae92c, #000000);
}

.yellow {
  background: radial-gradient(circle at 30% 30%, #d1f003, #e86161);
} */

/* .black {
  background: radial-gradient(circle at 30% 30%, #4f4b4b, #000000);
}

.white {
  background: radial-gradient(circle at 30% 30%, #d8d6d6, #e86161);
}
 */

/* .purple {
  background: radial-gradient(circle at 30% 30%, #b306e8, #000000);
}

.pink {
  background: radial-gradient(circle at 30% 30%, #fe04d9, #060606);
} */

/* .orange {
  background: radial-gradient(circle at 30% 30%, #ff8d13, #000000);
} */

/* .brown {
  background: radial-gradient(circle at 30% 30%, #7b4507, #000000);
}
 */

.player-one {
  background: radial-gradient(circle at 30% 30%, #4f4b4b, #000000);
}

.player-two {
  background: radial-gradient(circle at 30% 30%, #d8d6d6, #e86161);
}

.slot-1,
.slot-2 {
  width: clamp(23px, 5.5vw, 55px);
  height: clamp(23px, 5.5vw, 55px);
  background-color: rgb(69, 40, 40);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  box-shadow: inset 10px 15px 15px rgb(0, 0, 0);
  cursor: pointer;
}

.slot-1:hover,
.slot-2:hover {
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  opacity: 0.7;
}

.slot-1:hover {
  background: radial-gradient(circle at 30% 30%, #4f4b4b, #000000);
}

.slot-2:hover {
  background: radial-gradient(circle at 30% 30%, #d8d6d6, #e86161);
}

@media (max-width: 576px) {
  .slot-1,
  .slot-2 {
    box-shadow: inset 5px 5px 5px rgb(30, 23, 23);
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .slot-1,
  .slot-2 {
    box-shadow: inset 10px 10px 5px rgb(30, 23, 23);
  }
}
