.ball {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0px 7px;
  align-self: center;
  justify-self: center;
}

.player-one {
  background: radial-gradient(circle at 30% 30%, #4f4b4b, #000000);
}

.player-two {
  background: radial-gradient(circle at 30% 30%, #d8d6d6, #e86161);
}

.slot-1,
.slot-2 {
  width: 53px;
  height: 53px;
  background-color: rgb(69, 40, 40);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  box-shadow: inset 10px 15px 15px rgb(0, 0, 0);
  cursor: pointer;
}

.slot-1:hover,
.slot-2:hover {
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  opacity: 0.7;
}

.slot-1:hover {
  background: radial-gradient(circle at 30% 30%, #4f4b4b, #000000);
}

.slot-2:hover {
  background: radial-gradient(circle at 30% 30%, #d8d6d6, #e86161);
}

@media (max-width: 576px) {
  .ball {
    height: 32px;
    width: 32px;
  }
  .slot-1,
  .slot-2 {
    height: 32px;
    width: 32px;
    box-shadow: inset 5px 5px 5px rgb(30, 23, 23);
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .ball {
    height: 45px;
    width: 45px;
  }

  .slot-1,
  .slot-2 {
    height: 45px;
    width: 45px;
    box-shadow: inset 10px 10px 5px rgb(30, 23, 23);
  }
}
