.board {
  margin: 0 auto;
  width: clamp(280px, 53vw, 680px);
  height: clamp(280px, 53vw, 680px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(69, 40, 40);
  border-radius: 40px;
  place-items: center;
}
.part {
  position: relative;
}
.arrow {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: clamp(10px, 6vw, 50px);
  background: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow:hover {
  font-size: clamp(12px, 6.5vw, 55px);
  animation: spin 1s linear infinite;
}

.spin-to-left {
  animation: spin-left 2s forwards;
}
.spin-to-right {
  animation: spin-right 2s forwards;
}

@keyframes spin-left {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes spin-right {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.top-left-part .arrow-left {
  top: 40%;
  left: -20%;
  transform: rotate(-90deg);
}
.top-left-part .arrow-right {
  top: -10%;
  left: 50%;
}

.top-right-part .arrow-left {
  top: -10%;
  left: 50%;
}
.top-right-part .arrow-right {
  top: 40%;
  right: -20%;
  transform: rotate(90deg);
}

.bottom-left-part .arrow-left {
  left: 40%;
  transform: rotate(180deg);
}
.bottom-left-part .arrow-right {
  top: 40%;
  left: -20%;
  transform: rotate(-90deg);
}

.bottom-right-part .arrow-left {
  top: 40%;
  right: -20%;
  transform: rotate(90deg);
}
.bottom-right-part .arrow-right {
  left: 40%;
  transform: rotate(180deg);
}
