.container {
  position: relative;
}
.navbar-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: audiowide;
  width: 100vw;
  max-width: 1300px;
}

.navbar-container h1 {
  font-size: clamp(10px, 5vw, 35px);
  text-transform: uppercase;
  padding: 10px;
}

.bars-icon {
  background: transparent;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

.details-container {
  display: none;
}

.navbar-container span {
  color: var(--bgcBodyBottom);
}

@media (max-width: 575px) {
  .bars-icon {
    font-size: 30px;
    padding: 15px;
  }

  .options {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .bars-icon {
    font-size: 40px;
    padding: 15px;
  }
  .options {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-container {
    justify-content: space-around;
  }
  .bars-icon {
    display: none;
  }

  .navbar-icon {
    position: relative;
    background: transparent;
    font-size: 26px;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 5px;
  }

  .navbar-icon::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--bgcBodyBottom);
    transition: width 0.5s ease;
  }

  .navbar-icon:hover::after {
    width: 100%;
  }

  .details-container {
    visibility: visible;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 15px 100px;
    height: 150px;
    width: 88vw;
    max-width: 1077px;
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgba(145, 95, 95, 0.544);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.547);
    border: 2px solid var(--bgcBodyBottom);
    z-index: 100;
  }

  .details-container-show {
    top: 50%;
    animation: slideIn 0.6s ease forwards;
  }

  .details-container-hide {
    top: 100%;
    animation: slideOut 0.4s ease forwards;
  }

  @keyframes slideIn {
    from {
      top: 0%;
      opacity: 0;
    }
    to {
      top: 100%;
      opacity: 1;
    }
  }
  @keyframes slideOut {
    from {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }
    to {
      top: 50%;
      opacity: 0;
      visibility: hidden;
    }
  }

  .close-details-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
    padding: 5px 10px;
    background: none;
    color: var(--bgcBodyBottom);
  }
  .close-details-btn:hover {
    transform: scale(1.2);
  }
}
