.win-modal {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  z-index: 1;
  border-radius: 8px;
  align-items: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: audiowide;
  text-transform: uppercase;
}

.win-modal button {
  text-transform: uppercase;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}