*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: radial-gradient(circle at 30% 30%, #e61919, #000000);
  --blue: radial-gradient(circle at 30% 30%, #2e37d8, #000000);
  --green: radial-gradient(circle at 30% 30%, #0ae92c, #000000);
  --yellow: radial-gradient(circle at 30% 30%, #d1f003, #e86161);
  --black: radial-gradient(circle at 30% 30%, #4f4b4b, #000000);
  --white: radial-gradient(circle at 30% 30%, #d8d6d6, #e86161);
  --purple: radial-gradient(circle at 30% 30%, #b306e8, #000000);
  --pink: radial-gradient(circle at 30% 30%, #fe04d9, #060606);
  --orange: radial-gradient(circle at 30% 30%, #fc840c, #000000);
  --brown: radial-gradient(circle at 30% 30%, #77460f, #0f0f0f);
  --bgcBodyBottom: #e43656;
  --bgcBodyTop: #f3a397;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    var(--bgcBodyBottom) 0%,
    var(--bgcBodyTop) 100%
  );
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  border: none;
  cursor: pointer;
}
textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: audiowide;
  src: url(./fonts/Audiowide-Regular.ttf);
}
